.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--brand-teal-light);
  opacity: 0.2;
  z-index: 1000;
}

.bar {
  height: 100%;
  background: var(--brand-saffron);
  transition: width 0.1s ease;
}

